<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Додати розклад</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <div class="card text-center w-50 mt-4 mx-auto">
        <div class="card-header">Додати розклад</div>
        <div class="card-body">
            <form method="post">

                <div class="form-outline mb-4">
                    <input id="time" name="time" class="form-control" />
                    <label class="form-label" for="form2">Час</label>
                </div>

                <div class="form-outline mb-4">
                    <input class="form-check-input" type="checkbox" value="false" name="reverse"
                        id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">
                        Зворотній напрямок
                    </label>
                </div>

                <button type="submit" type="button" class="btn btn-primary btn-block mb-4">Додати</button>
            </form>
        </div>
        <div class="card-footer">
            <p><b><a href="/">Повернутись до головного меню</a></b></p>
        </div>
    </div>
</body>
<script>
    document.getElementById("flexCheckDefault").addEventListener("click", function () {
        var checkbox = document.getElementById("flexCheckDefault");
        checkbox.value = checkbox.checked ? "true" : "false";
    });
</script>

</html>
