<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Головна сторінка</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <div class="card text-center w-50 mt-4 mx-auto">
        <div class="card-header">Навігація</div>
        <div class="card-body">
            <div class="mb-3">
                <a href="new/user" class="btn btn-primary btn-lg btn-block">Додати користувача</a>
            </div>
            <div class="mb-3">
                <a href="routelist" class="btn btn-success btn-lg btn-block">Розклад маршрутів</a>
            </div>
            <div class="mb-3">
                <a href="qr" class="btn btn-info btn-lg btn-block">Використання QR</a>
            </div>
            <div class="mb-3">
                <a href="travelcard" class="btn btn-warning btn-lg btn-block">Проїзд за станцією</a>
            </div>
        </div>
    </div>
</body>

</html>
