<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Дані користувача</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <div class="card text-center w-50 mt-4 mx-auto">
        <div class="card-header">Дані користувача</div>
        <div class="card-body">
            <p class="card-text">Username: <%=result.username %>
            </p>
            <p class="card-text">Password: <%=result.password %>
            </p>
        </div>
        <div class="card-footer">
            <p><b><a href="/">Повернутись до головного меню</a></b></p>
        </div>
    </div>
</body>

</html>
