<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Додати користувача</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <div class="card text-center w-50 mt-4 mx-auto">
        <div class="card-header">Додати користувача</div>
        <div class="card-body">
            <form method="post" onsubmit="return validateForm()" action="/new/user/result">
                <div class="row mb-4">
                    <div class="col">
                        <div class="form-outline">
                            <input type="text" id="first_name" name="first_name" class="form-control" required />
                            <label class="form-label" for="form0">Ім'я</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            <input type="text" id="last_name" name="last_name" class="form-control" required />
                            <label class="form-label" for="form1">Прізвище</label>
                        </div>
                    </div>
                </div>

                <div class="form-outline mb-4">
                    <input type="number" id="ipn" name="ipn" class="form-control" min="0" />
                    <label class="form-label" for="form2">Реєстраційний номер облікової картки платника
                        податків</label>
                    <div id="ipnError" class="text-danger"></div>
                </div>

                <div class="form-outline mb-4">
                    <select id="type" name="type" class="form-select">
                        <% result.forEach(function(type){ %>
                            <option value="<%=type.Type_card_id %>">
                                <%=type.Type_name_ua %>
                            </option>
                            <% }); %>
                    </select>
                    <label class="form-label" for="form3">Тип картки</label>
                </div>


                <button type="submit" type="button" class="btn btn-primary btn-block mb-4">Додати</button>
            </form>
        </div>
        <div class="card-footer">
            <p><b><a href="/">Повернутись до головного меню</a></b></p>
        </div>
    </div>
</body>
<script>
    function validateForm() {
        var ipn = document.getElementById('ipn').value.trim();

        if (!/^\d{10}$/.test(ipn)) {
            document.getElementById('ipnError').innerHTML = 'Реєстраційний номер повинен містити 10 цифр.';
            return false;
        } else {
            document.getElementById('ipnError').innerHTML = '';
        }

        return true;
    }
</script>
<style>
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

</html>
