<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Використання QR</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <div class="card text-center w-50 mt-4 mx-auto">
        <div class="card-header">Використання QR</div>
        <div class="card-body">
            <form method="post">

                <div class="form-outline mb-4">
                    <input id="qr" name="qr" class="form-control" minlength="36" maxlength="36" required />
                    <label class="form-label" for="form2">QR код</label>
                </div>

                <div class="form-outline mb-4">
                    <select id="stop_id" name="stop_id" class="form-select">
                        <% result.forEach(function(stop_id){ %>
                            <option value="<%=stop_id.Route_stops_id %>">
                                <%=stop_id.stop.Stop_name_ua %>
                            </option>
                            <% }); %>
                    </select>
                    <label class="form-label" for="form3">Зупинка</label>
                </div>

                <div class="form-outline mb-4">
                    <input class="form-check-input" type="checkbox" value="false" name="reverse"
                        id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">
                        Зворотній напрямок
                    </label>
                </div>

                <button type="submit" type="button" class="btn btn-primary btn-block mb-4">Використати</button>
            </form>
            <% if (text) { %>
                <p class="card-text">
                    <%=text %>
                </p>
                <% } %>
        </div>
        <div class="card-footer">
            <p><b><a href="/">Повернутись до головного меню</a></b></p>
        </div>
    </div>
</body>
<script>
    document.getElementById("flexCheckDefault").addEventListener("click", function () {
        var checkbox = document.getElementById("flexCheckDefault");
        checkbox.value = checkbox.checked ? "true" : "false";
    });
</script>

</html>
