<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Перегляд розкладу за маршрутами</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-4">
        <h2>Перегляд розкладу за маршрутами</h2>
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Назва маршруту</th>
                    <th>Час</th>
                    <th>Кількість зупинок</th>
                    <th>Розклад</th>
                </tr>
            </thead>
            <tbody>
                <% result.forEach(function(route){ %>
                    <tr>
                        <td>
                            <%=route.Route_id%>
                        </td>
                        <td>
                            <%=route.Route_number%>
                        </td>
                        <td>
                            <%=route.Duration %>
                        </td>
                        <td>
                            <%=route.Stops %>
                        </td>
                        <td>
                            <button onclick="location.href='/schedule/<%=route.Route_id %>'"
                                class="btn btn-primary">Розклад</button>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <p><b><a href="/">Повернутись до головного меню</a></b></p>
    </div>
</body>

</html>
