<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Перегляд розкладу</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-4">
        <td>
            <button onclick="location.href='/schedule/add/<%=id %>'"
                class="btn btn-success mx-auto d-block">Додати</button>
        </td>
        <h2>Перегляд розкладу</h2>
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Час початку</th>
                    <th>Зворотній маршрут</th>
                    <th>Видалити</th>
                </tr>
            </thead>
            <tbody>
                <% result.forEach(function(schedule){ %>
                    <tr>
                        <td>
                            <%=schedule.Schedule_id%>
                        </td>
                        <td>
                            <%=new Date(schedule.Time_start).toLocaleTimeString('en-US', { hour12: false,
                                hour: '2-digit' , minute: '2-digit' , second: '2-digit' }) %>
                        </td>
                        <td>
                            <%=schedule.Reverse %>
                        </td>
                        <td>
                            <form method="post">
                                <input type="hidden" name="id" value="<%=schedule.Schedule_id%>">
                                <button type="submit" class="btn btn-danger">Видалити</button>
                            </form>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <p><b><a href="/">Повернутись до головного меню</a></b></p>
    </div>
</body>

</html>
